Pre-Process Data

In [34]:
 !pip install keras-tuner

Requirement already satisfied: keras-tuner in /usr/local/lib/python3.10/dist-packages (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.31.0)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2023.7.22)

In [35]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import kerastuner as kt

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN','NAME'])

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [37]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [38]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_type_count = application_df['APPLICATION_TYPE'].value_counts()
application_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 500
application_types_to_replace = application_type_count[application_type_count < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_type_count = application_df['CLASSIFICATION'].value_counts()
classification_type_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [41]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_filtered_count = classification_type_count[classification_type_count > 1]
classification_filtered_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [42]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cutoff_classification_value = 1800
classifications_to_replace = classification_type_count[classification_type_count < cutoff_classification_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [43]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
cols_drop_from_orig_df = ['EIN', 'NAME', 'CLASSIFICATION']
application_df_cut = application_df.drop(columns=cols_drop_from_orig_df)

categorical_data = ['APPLICATION_TYPE', 'AFFILIATION',	'USE_CASE',	'ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT']
encoded_df = pd.get_dummies(application_df_cut, columns = categorical_data)
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,SPECIAL_CONSIDERATIONS_Y,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [44]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = encoded_df.IS_SUCCESSFUL.values
X = encoded_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [45]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Neural Network Model

In [46]:
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

   # Update the input dimension to match the number of features
    input_dim = X_train_scaled.shape[1]

    # First hidden layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units', min_value=2, max_value=15, step=2), activation=activation, input_dim=input_dim))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i), min_value=2, max_value=15, step=2), activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

In [47]:
# Create a hyperband tuner
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=25,
    factor=3,
    hyperband_iterations=2)

In [60]:
# Run the kerastuner search for best hyperparameters
tuner_ks = tuner.search(X_train_scaled, y_train, epochs=50, validation_data=(X_test_scaled, y_test))

In [62]:
# Print tuner results summary
tuner.results_summary()

# Check if the tuner found any models
if tuner.results_summary():
    # Get the best model found by the tuner
    best_model = tuner.get_best_models(1)[0]

    # Export the best model to HDF5 file
    best_model.save("AlphabetSoupCharity_Optimization.h5")
else:
    print("No models found during the tuner search.")

Results summary
Results in ./untitled_project
Showing 10 best trials
Objective(name="val_accuracy", direction="max")

Trial 0053 summary
Hyperparameters:
activation: tanh
first_units: 7
num_layers: 4
units_0: 9
units_1: 3
units_2: 7
units_3: 7
units_4: 5
units_5: 3
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.728396475315094

Trial 0040 summary
Hyperparameters:
activation: sigmoid
first_units: 5
num_layers: 6
units_0: 9
units_1: 5
units_2: 1
units_3: 3
units_4: 9
units_5: 7
tuner/epochs: 20
tuner/initial_epoch: 7
tuner/bracket: 2
tuner/round: 2
tuner/trial_id: 0036
Score: 0.7267638444900513

Trial 0045 summary
Hyperparameters:
activation: sigmoid
first_units: 9
num_layers: 4
units_0: 7
units_1: 9
units_2: 3
units_3: 7
units_4: 1
units_5: 1
tuner/epochs: 7
tuner/initial_epoch: 0
tuner/bracket: 1
tuner/round: 0
Score: 0.7264139652252197

Trial 0050 summary
Hyperparameters:
activation: sigmoid
first_units: 9
num_layers: 2
units_0: 3
units_1: 7
units_2: 9
units_3: 5
units_4: 3
units_5: 9
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.7262973785400391

Trial 0051 summary
Hyperparameters:
activation: sigmoid
first_units: 1
num_layers: 1
units_0: 7
units_1: 1
units_2: 1
units_3: 1
units_4: 3
units_5: 7
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.7261807322502136

Trial 0052 summary
Hyperparameters:
activation: sigmoid
first_units: 7
num_layers: 5
units_0: 5
units_1: 1
units_2: 5
units_3: 1
units_4: 7
units_5: 7
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.7261807322502136

Trial 0021 summary
Hyperparameters:
activation: sigmoid
first_units: 9
num_layers: 2
units_0: 3
units_1: 7
units_2: 3
units_3: 5
units_4: 1
units_5: 5
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.726064145565033

Trial 0041 summary
Hyperparameters:
activation: sigmoid
first_units: 7
num_layers: 2
units_0: 1
units_1: 5
units_2: 1
units_3: 7
units_4: 3
units_5: 9
tuner/epochs: 20
tuner/initial_epoch: 7
tuner/bracket: 2
tuner/round: 2
tuner/trial_id: 0038
Score: 0.7259474992752075

Trial 0022 summary
Hyperparameters:
activation: tanh
first_units: 9
num_layers: 1
units_0: 5
units_1: 9
units_2: 9
units_3: 9
units_4: 3
units_5: 3
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.7258309125900269

Trial 0038 summary
Hyperparameters:
activation: sigmoid
first_units: 7
num_layers: 2
units_0: 1
units_1: 5
units_2: 1
units_3: 7
units_4: 3
units_5: 9
tuner/epochs: 7
tuner/initial_epoch: 3
tuner/bracket: 2
tuner/round: 1
tuner/trial_id: 0031
Score: 0.7258309125900269
Results summary
Results in ./untitled_project
Showing 10 best trials
Objective(name="val_accuracy", direction="max")

Trial 0053 summary
Hyperparameters:
activation: tanh
first_units: 7
num_layers: 4
units_0: 9
units_1: 3
units_2: 7
units_3: 7
units_4: 5
units_5: 3
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.728396475315094

Trial 0040 summary
Hyperparameters:
activation: sigmoid
first_units: 5
num_layers: 6
units_0: 9
units_1: 5
units_2: 1
units_3: 3
units_4: 9
units_5: 7
tuner/epochs: 20
tuner/initial_epoch: 7
tuner/bracket: 2
tuner/round: 2
tuner/trial_id: 0036
Score: 0.7267638444900513

Trial 0045 summary
Hyperparameters:
activation: sigmoid
first_units: 9
num_layers: 4
units_0: 7
units_1: 9
units_2: 3
units_3: 7
units_4: 1
units_5: 1
tuner/epochs: 7
tuner/initial_epoch: 0
tuner/bracket: 1
tuner/round: 0
Score: 0.7264139652252197

Trial 0050 summary
Hyperparameters:
activation: sigmoid
first_units: 9
num_layers: 2
units_0: 3
units_1: 7
units_2: 9
units_3: 5
units_4: 3
units_5: 9
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.7262973785400391

Trial 0051 summary
Hyperparameters:
activation: sigmoid
first_units: 1
num_layers: 1
units_0: 7
units_1: 1
units_2: 1
units_3: 1
units_4: 3
units_5: 7
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.7261807322502136

Trial 0052 summary
Hyperparameters:
activation: sigmoid
first_units: 7
num_layers: 5
units_0: 5
units_1: 1
units_2: 5
units_3: 1
units_4: 7
units_5: 7
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.7261807322502136

Trial 0021 summary
Hyperparameters:
activation: sigmoid
first_units: 9
num_layers: 2
units_0: 3
units_1: 7
units_2: 3
units_3: 5
units_4: 1
units_5: 5
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.726064145565033

Trial 0041 summary
Hyperparameters:
activation: sigmoid
first_units: 7
num_layers: 2
units_0: 1
units_1: 5
units_2: 1
units_3: 7
units_4: 3
units_5: 9
tuner/epochs: 20
tuner/initial_epoch: 7
tuner/bracket: 2
tuner/round: 2
tuner/trial_id: 0038
Score: 0.7259474992752075

Trial 0022 summary
Hyperparameters:
activation: tanh
first_units: 9
num_layers: 1
units_0: 5
units_1: 9
units_2: 9
units_3: 9
units_4: 3
units_5: 3
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.7258309125900269

Trial 0038 summary
Hyperparameters:
activation: sigmoid
first_units: 7
num_layers: 2
units_0: 1
units_1: 5
units_2: 1
units_3: 7
units_4: 3
units_5: 9
tuner/epochs: 7
tuner/initial_epoch: 3
tuner/bracket: 2
tuner/round: 1
tuner/trial_id: 0031
Score: 0.7258309125900269
No models found during the tuner search.